$input-focus-transition: border 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

.Input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding: 10px 15px;
  border-radius: 4px;
  border: solid 1px transparent;
  transition: $input-focus-transition;

  &__prefix {
    padding-right: 10px;
  }
  
  &__suffix {
    padding-left: 10px;
  }

  &:focus-within {
    border: solid 1px #56ab2f;
  }

  input {
    flex: 1 1 auto;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}
