@import url('https://fonts.googleapis.com/css?family=PT+Mono|Open+Sans:300,400,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h2 {
  color: #2E4535;
}